.project {
    margin-top: 70px;
    border: 1px solid rgba(211, 184, 214, 0.274);
    border-radius: 20px;
    background-color: #33333328;
    display: flex;
    justify-content: space-around;
    padding: 20px;
     transition: 0.7s ease;
    
  }
  .project:hover {
  transform: translateY(-10px) scale(1.03);
  box-shadow: 0 12px 12px rgba(36, 94, 255, 0.281);
}
  
  .pro-btn{
    background-color: rgb(71, 212, 212);
    color: rgb(34, 32, 30);
    border-radius: 10px;
    padding: 10px;
    width: 130px;
    border: white;

  }
  .pro{
    border: 2px solid rgba(255, 255, 255, 0.247);
    border-radius: 30px;
    padding: 20px;
    background-color: rgba(7, 7, 53, 0.432);
  }
  
  /* Add this to make the images responsive */
  .img-fluid {
    max-width: 100%;
    height: auto;
  }


  @media(max-width:480){
    h1{
        text-align: center;

    }
  }