* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "outfit", Arial, Helvetica, sans-serif;
    color: white;
  }
  .app{
    background-image: linear-gradient(to right, rgb(15, 15, 71), black);
    padding: 20px;
    

  }
  
  
  .nav {
    margin-left: 750px;
    color: white;
    opacity: 100%;
    gap: 30px;

  }
  
  /* Add responsive styles */
  
  @media (max-width: 1200px) {
    .nav {
      margin-left: 500px;
    }
  }
  
  @media (max-width: 992px) {
    .nav {
      margin-left: 200px;
    }
  }
  
  @media (max-width: 768px) {
    .nav {
      margin-left: 0;
      text-align: center;
    }
    .navbar-collapse {
      background-image: linear-gradient(to right, rgb(15, 15, 71), black);
      padding: 20px;
    }
  }
  
  @media (max-width: 576px) {
    .nav-link {
      font-size: 14px;
    }
  }
  /* Hero page */
  .hero{
    margin-top: 120px;
  }

  .desc{
    text-align: center;
    line-height: 2;
  }
  .descbtn{
    border-radius: 20px;
    padding: 9px;
    color: rgb(59, 207, 207);
    border: 2px solid;

  }
  .descol{
    text-align: center;
    padding: 30px;
  }
  @media only screen and (max-width: 765px) {
    .heroimg {
      display: none;
    }
  }

  